<!-- jp first sidebar Wrapper Start -->
<div class="jp_first_sidebar_main_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-9 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="cc_featured_product_main_wrapper">
              <div class="jp_hiring_heading_wrapper jp_job_post_heading_wrapper">
                <h2>Recent Jobs</h2>
              </div>

            </div>


            <div class="tab-content">
              <div class="tab-pane fade in active" id="best" role="tabpanel">
                <div *ngFor="let j of loadedJobs" class="ss_featured_products">
                  <div class="">
                    <div class="item" data-hash="zero">
                      <div class="jp_job_post_main_wrapper_cont">
                        <div class="jp_job_post_main_wrapper">
                          <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                              <div class="jp_job_post_side_img">
                                <img class="company-picture"
                                     [src]="j?.company?.companyUrl!==null ? j?.company?.companyUrl : './assets/images/content/job_post_img1.jpg' "
                                     alt="company_img"/>
                              </div>
                              <div class="jp_job_post_right_cont">
                                <h4 [routerLink]="['/job/',j?.jobId]" class="cursor-pointer">{{ j?.title}}</h4>
                                <p [routerLink]="['/companies/',j?.companyId]"
                                   class="cursor-pointer">{{j?.company?.companyName}}</p>
                                <ul>
                                  <li><i class="fa fa-money"></i>&nbsp; {{j?.salaire}} Per year</li>
                                  <li class="localisation"><i class="fa fa-map-marker"></i>&nbsp; {{j.localisation}}
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                              <div class="jp_job_post_right_btn_wrapper">
                                <ul>
                                  <li>
                                    <a *ngIf="j?.userApplied" class="applied"><i class="fa fa-check"></i>
                                      Applied</a>
                                    <a (click)="applyJob(j)"
                                       *ngIf="!j?.userApplied && loggedUser?.hasResume && !loggedUser?.hasCompany">Apply</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="jp_job_post_keyword_wrapper">
                        <ul>
                          <li><i class="fa fa-tags"></i>Categorie :</li>
                          <li><a>{{j?.categorie}}</a></li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>


              </div>

            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
