<div class="jp_banner_heading_cont_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_job_heading_wrapper">
          <div class="jp_job_heading">
            <h1><span>Browse</span> Jobs</h1>
            <p>Find Jobs, Employment & Career Opportunities</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_header_form_wrapper">
          <div class="col-lg-10 col-md-4 col-sm-10 col-xs-12">
            <input placeholder="Keyword e.g. (Job Title, Description, Tags)" type="text">
          </div>

          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="jp_form_btn_wrapper">
              <ul>
                <li><a href="#"><i class="fa fa-search"></i> Search</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_banner_main_jobs_wrapper">

        </div>
      </div>
    </div>
  </div>
</div>
