.applicants a {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.company_image {
  width: 110px;
  height: 110px;
  object-fit: contain;
}

.accepted a{
  background-color: #1aa93c !important;
  border-color: #1aa93c!important;

}.accepted a:hover{
   background-color: #1aa93c !important;
   border-color: #1aa93c!important;

 }
.declined a{
  background-color: #ef3131 !important;
  border-color: #ef3131!important;

}.declined a:hover{
   background-color: #ef3131 !important;
   border-color: #ef3131;

 }
.pending a  {
  background-color: #e0a812 !important;
  border-color: #e0a812;

} .pending a:hover{

    background-color: #e0a812 !important;
    border-color: #e0a812;
  }


  .status a {
    width: 110px;
    height: 30px;
    float: right;
    margin-right: 12px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background: #0e1427;
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.5s;
  }

  .cursor-pointer{
    cursor: pointer;
  }

  .my_apps_card{
    height: 223px!important;
    width: 100% !important;
  }
