<div class="jp_top_header_img_wrapper">
  <div class="jp_slide_img_overlay"></div>

  <div class="gc_main_menu_wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 hidden-xs hidden-sm full_width">
          <div class="gc_header_wrapper">
            <div class="gc_logo">
              <a href="index.html"><img alt="Logo" class="img-responsive" src="./assets/images/header/logo.png"
                                        title="Job Pro"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 center_responsive">
          <div class="header-area hidden-menu-bar stick" id="sticker">
            <!-- mainmenu start -->
            <div class="mainmenu">

              <ul class="float_left">
                <li class="has-mega gc_main_navigation"><a class="gc_main_navigation" routerLink="/home"> Home</a>
                  <!-- mega menu start -->

                </li>
                <li class="has-mega gc_main_navigation">
                  <a *ngIf="hasCompany" class="gc_main_navigation"> Jobs&nbsp;<i class="fa fa-angle-down"></i></a>
                  <a *ngIf="!hasCompany" class="gc_main_navigation" routerLink="/jobs"> Jobs&nbsp;</a>
                  <!-- mega menu start -->
                  <ul *ngIf="hasCompany">
                    <li *ngIf="isLoggedIn && loggedUser && hasCompany" class="parent"><a routerLink="/jobs/create">Create
                      offer </a>
                    </li>
                    <li class="parent"><a routerLink="/jobs">Jobs list</a></li>

                  </ul>
                </li>
                <li class="parent gc_main_navigation"><a class="gc_main_navigation"
                                                         routerLink="/companies">Companies</a>

                </li>

                <!--                <li class="gc_main_navigation parent"><a class="gc_main_navigation" href="#">Contact</a></li>-->
                <li *ngIf="isLoggedIn && loggedUser" class="gc_main_navigation parent"><a class="gc_main_navigation"
                                                                                          routerLink="/user-profile">Profile</a>
                </li>

                <li *ngIf="isLoggedIn && loggedUser" class="gc_main_navigation parent "><a (click)="logout()"
                                                                                           class="gc_main_navigation cursor-pointer">Logout</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <!-- mobile menu area end -->
        <div class="col-lg-3 col-md-6 col-sm-22 col-xs-32 hidden-sm hidden-xs">
          <div class="jp_navi_right_btn_wrapper">
            <ul>
              <li *ngIf="!isLoggedIn" class="login-button"><a (click)="externalLogin()"><i class="fa fa-google"></i>
                Login</a></li>
              <li *ngIf="isLoggedIn && loggedUser"
                  [class.large-author-thumb]="loggedUser?.firstName!==null && loggedUser?.lastName!==null"
                  class="author-thumb"><a class="profile-user"
                                          routerLink="/user-profile"><img
                [src]="loggedUser?.photoUrl" alt="user" class="profile-picture">
                <ng-template [ngIf]="loggedUser?.firstName===null && loggedUser?.lastName===null">
                  {{loggedUser?.email}}
                </ng-template>
                <ng-template [ngIf]="loggedUser?.firstName!==null && loggedUser?.lastName!==null">
                  {{loggedUser?.firstName}} {{loggedUser?.lastName}}
                </ng-template>
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-search-bar *ngIf="_router.url === '/home'"></app-search-bar>

</div>
