.jp_navi_right_btn_wrapper ul {
  .author-thumb {
    margin-right: 1.25rem;

    img {
      width: 36px;
      height: 36px;
      border: 1px solid #8a8a8a;
      border-radius: 50%;
      margin-right: 2px;
    }

    a {
      color: #ffffff;
      border: 1px solid #ffffff40;
      padding: 0 6px;
      background: none;
      width: 100%;
    }
  }

  .large-author-thumb {
    margin-right: 3.25rem !important;

  }

  .login-button a {
    margin-right: 5.3rem;
  }


}
