.applicants a {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.jp_hiring_content_wrapper {
  img {
    width: 80px;
    height: 80px;
  }

  >ul li  a {
    background-color: #1cd65f;
  }

  >ul li  .empty {
    background-color: #f36969;
  }
}

.company_image {
  width: 110px;
  height: 110px;
  object-fit: contain;
}

.jp_job_post_right_btn_wrapper li:last-child {
  margin-top: 0 !important;
}
.jp_job_post_right_btn_wrapper{
  a{
    width: 29px;
    margin-left: 10px;

  }
  .edit{
    background-color: #29c7b9;

  }
}
.center-elements{
  position: relative!important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  display: table!important;
}

.jp_job_post_right_btn_wrapper ul {

   margin-top: 0!important;
  margin-right: 16px!important;
}






