<div class="col-lg-6 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 20px"
     [id]="jobOffer?.jobId"
     [ngClass]="deletedJobId === jobOffer?.jobId+''  ? 'animated bounceOutUp' : ''"
>

  <div class="jp_hiring_content_main_wrapper jp_hiring_content_main_wrapper_index_v" style="height: 275px">
    <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
      <ul>
        <li data-toggle="modal" data-target="#delete-modal" style="cursor: pointer">
          <a><i class="fa fa-trash-o"  (click)="openModalDelete(jobOffer)"></i></a>
          <a class="edit" [routerLink]="['/jobs/update/',jobOffer?.jobId]"><i class="fa fa-pencil"></i></a>
        </li>

      </ul>
    </div>
    <div class="jp_hiring_content_wrapper jp_hiring_content_wrapper_indx_v center-elements">

      <img
        [src]="jobOffer?.company?.companyUrl === null ? 'images/content/hiring_img1.png' : jobOffer?.company?.companyUrl"
        alt="hiring_img" class="company_image">
      <h4>{{jobOffer?.title}}</h4>
      <p>{{jobOffer?.localisation}}</p>
      <ul>
        <li style="cursor: pointer" (click)="displayApplicants()" class="applicants"><a
          [class.empty]="jobOffer?.jobApply?.length===0">{{jobOffer?.jobApply?.length}} Applicants</a>
        </li>

      </ul>
    </div>
  </div>
</div>

