.applicants a {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.jp_hiring_content_wrapper {
  img {
    width: 80px;
    height: 80px;
  }

  a {
    background-color: #1cd65f;
  }

  .empty {
    background-color: #f36969;
  }
}

.company_image {
  width: 110px;
  height: 110px;
  object-fit: contain;
}
