<div class="jp_adp_main_section_wrapper">
  <div class="container">
    <form [formGroup]="companyFormGroup">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="jp_adp_form_heading_wrapper">
            <h2>Company Details</h2>
          </div>
          <div class="jp_adp_form_wrapper ">
            <input [class.is-invalid]="isFormSubmitted && formError('companyName','required')"
                   formControlName="companyName"
                   placeholder="Company name " type="text">
            <div *ngIf="isFormSubmitted && formError('companyName','required')" class="has-error">
              <label class="control-label">Company name is required</label>
            </div>
          </div>
          <div class="jp_adp_form_wrapper">
            <input [class.is-invalid]="isFormSubmitted && formError('business','required')"
                   formControlName="business"
                   placeholder="Business" type="text">
            <div *ngIf="isFormSubmitted && formError('business','required')" class="has-error">
              <label class="control-label">Business is required</label>
            </div>
          </div>
          <div class="jp_adp_form_wrapper">
            <input [class.is-invalid]="isFormSubmitted && formError('locilisation','required')"
                   formControlName="localisation"
                   placeholder="Localisation" type="text">
            <div *ngIf="isFormSubmitted && formError('localisation','required')" class="has-error">
              <label class="control-label">Localisation is required</label>
            </div>
          </div>


        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bottom_line_Wrapper">
          <div class="jp_adp_form_heading_wrapper">
            <p>Fields with * are mandetory</p>
          </div>
          <div class="jp_adp_form_wrapper ">
            <input [class.is-invalid]="isFormSubmitted && formError('establishmentDate','required')"
                   formControlName="establishmentDate" onblur="(this.type='text')" onfocus="(this.type='date')"
                   placeholder="Establishment date" type="text">
            <div *ngIf="isFormSubmitted && formError('establishmentDate','required')" class="has-error">
              <label class="control-label">Establishment date is required</label>
            </div>
          </div>
          <div class="jp_adp_form_wrapper ">
            <input [class.is-invalid]="isFormSubmitted && formError('profileDescription','required')"
                   formControlName="profileDescription"
                   placeholder="Profile description" type="text">
            <div *ngIf="isFormSubmitted && formError('profileDescription','required')" class="has-error">
              <label class="control-label">Profile description name is required</label>
            </div>
          </div>

        </div>
      </div>


      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


        <a (click)="resetForm()" *ngIf="loggedUser?.isActive" class=" button cancel-button"><i
          class="fa fa-times"></i>&nbsp; Annuler </a>
        <a (click)="createCompany()" class=" button submit-button">
          <i class="fa fa-plus-circle"></i> Create company</a>
      </div>

    </form>
  </div>
</div>
