<div class="jp_listing_sidebar_main_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_listing_heading_wrapper">
          <h2>We found <span>{{this.loadedJobs?.length}}</span> Matches for you.</h2>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 hidden-sm hidden-xs">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="jp_rightside_job_categories_wrapper">
              <div class="jp_rightside_job_categories_heading">
                <h4>Jobs by Category</h4>
              </div>
              <div class="jp_rightside_job_categories_content">
                <div class="handyman_sec1_wrapper">
                  <div class="content">
                    <div class="box">
                      <p>
                        <input id="c1" name="cb" type="checkbox">
                        <label for="c1">Graphic Designer <span>(214)</span></label>

                      </p>
                      <p>
                        <input id="c2" name="cb" type="checkbox">
                        <label for="c2">Engineering Jobs <span>(514)</span></label>
                      </p>
                      <p>
                        <input id="c3" name="cb" type="checkbox">
                        <label for="c3">Mainframe Jobs <span>(554)</span></label>
                      </p>
                      <p>
                        <input id="c4" name="cb" type="checkbox">
                        <label for="c4">Legal Jobs <span>(457)</span></label>
                      </p>
                      <p>
                        <input id="c5" name="cb" type="checkbox">
                        <label for="c5">IT Jobs <span>(1254)</span></label>
                      </p>
                      <p>
                        <input id="c6" name="cb" type="checkbox">
                        <label for="c6">R&amp;D Jobs <span>(554)</span></label>
                      </p>
                      <p>
                        <input id="c7" name="cb" type="checkbox">
                        <label for="c7">Government Jobs <span>(350)</span></label>
                      </p>
                      <p>
                        <input id="c8" name="cb" type="checkbox">
                        <label for="c8">PSU Jobs <span>(221)</span></label>
                      </p>
                    </div>
                  </div>
                  <ul>
                    <li><i class="fa fa-plus-circle"></i> <a href="#">SHOW MORE</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="jp_rightside_job_categories_wrapper jp_job_location_wrapper">
              <div class="jp_rightside_job_categories_heading">
                <h4>Salary</h4>
              </div>
              <div class="jp_rightside_job_categories_content">
                <div class="handyman_sec1_wrapper">
                  <div class="content">
                    <div class="box">
                      <p>
                        <input id="c25" name="cb" type="checkbox">
                        <label for="c25">$1k - 2k <span>(214)</span></label>

                      </p>
                      <p>
                        <input id="c26" name="cb" type="checkbox">
                        <label for="c26">$3k - 5k <span>(514)</span></label>
                      </p>
                      <p>
                        <input id="c27" name="cb" type="checkbox">
                        <label for="c27">$5k - 8k <span>(554)</span></label>
                      </p>
                      <p>
                        <input id="c28" name="cb" type="checkbox">
                        <label for="c28">$5k - 10k <span>(457)</span></label>
                      </p>
                      <p>
                        <input id="c29" name="cb" type="checkbox">
                        <label for="c29">$10k - 20k <span>(1254)</span></label>
                      </p>
                      <p>
                        <input id="c30" name="cb" type="checkbox">
                        <label for="c30">$20k - 30k <span>(554)</span></label>
                      </p>
                      <p>
                        <input id="c31" name="cb" type="checkbox">
                        <label for="c31">$30k - 50k <span>(350)</span></label>
                      </p>
                      <p>
                        <input id="c32" name="cb" type="checkbox">
                        <label for="c32">$50k - 80k <span>(221)</span></label>
                      </p>
                    </div>
                  </div>
                  <ul>
                    <li><i class="fa fa-plus-circle"></i> <a href="#">SHOW MORE</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="jp_listing_tabs_wrapper">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="gc_causes_select_box_wrapper">
                  <div class="gc_causes_select_box">
                    <select>
                      <option>Sort Default</option>
                      <option>Sort Default</option>
                      <option>Sort Default</option>
                    </select><i class="fa fa-angle-down"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="gc_causes_view_tabs_wrapper">
                  <div class="gc_causes_view_tabs">
                    <ul class="nav nav-pills">
                      <li class="active"><a data-toggle="pill" href="#grid"><i class="fa fa-th-large"></i></a></li>
                      <li><a data-toggle="pill" href="#list"><i class="fa fa-list"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="grid">
                <div class="row">
                  <div *ngFor="let j of loadedJobs" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                      <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_job_post_side_img">
                              <img
                                [src]="j?.company?.companyUrl === null ? 'images/content/job_post_img4.jpg' : j?.company?.companyUrl"
                                alt="company_img">
                            </div>
                            <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                              <h4 [routerLink]="['/jobs/',j?.jobId]"
                                  class="cursor-pointer"> {{  shortenTitle(j.title, 52, 0, 52) }}</h4>
                              <p [routerLink]="['/companies/',j?.companyId]"
                                 class="cursor-pointer">{{j?.company?.companyName}}</p>
                              <ul>
                                <li><i
                                  class="fa fa-cc-paypal"></i>&nbsp; {{shortenTitle(j?.salaire + ' Per year', 28, 0, 28)}}
                                </li>
                                <li><i class="fa fa-map-marker"></i>&nbsp; {{j?.localisation}}</li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                              <ul>
                                <li><a href="#">Apply</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
              <div class="tab-pane fade" id="list">
                <div class="row">
                  <div *ngFor="let job of loadedJobs"
                       class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                      <div class="jp_job_post_main_wrapper">
                        <div class="row">
                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="jp_job_post_side_img">
                              <img *ngIf="job?.company?.companyUrl===null" alt="company_img" class="company-picture"
                                   src="assets/images/content/job_post_img5.jpg">
                              <img *ngIf="job?.company?.companyUrl!==null" [src]="job?.company?.companyUrl"
                                   alt="company_img" class="company-picture">
                            </div>
                            <div class="jp_job_post_right_cont">
                              <h4 [routerLink]="['/jobs/',job?.jobId]" class="cursor-pointer">{{job?.title}}</h4>
                              <p [routerLink]="['/companies/',job?.companyId]"
                                 class="cursor-pointer">{{job?.company?.companyName}}</p>
                              <ul>
                                <li><i class="fa fa-cc-paypal"></i>&nbsp; {{job?.salaire}} Per year</li>
                                <li><i class="fa fa-map-marker"></i>&nbsp; {{job?.localisation}}</li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="jp_job_post_right_btn_wrapper">
                              <ul>
                                <li><a href="#">{{job?.categorie}}</a></li>

                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 visible-sm visible-xs">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="jp_rightside_job_categories_wrapper">
              <div class="jp_rightside_job_categories_heading">
                <h4>Jobs by Category</h4>
              </div>
              <div class="jp_rightside_job_categories_content">
                <div class="handyman_sec1_wrapper">
                  <div class="content">
                    <div class="box">
                      <p>
                        <input id="c101" name="cb" type="checkbox">
                        <label for="c101">Graphic Designer <span>(214)</span></label>

                      </p>
                      <p>
                        <input id="c102" name="cb" type="checkbox">
                        <label for="c102">Engineering Jobs <span>(514)</span></label>
                      </p>
                      <p>
                        <input id="c103" name="cb" type="checkbox">
                        <label for="c103">Mainframe Jobs <span>(554)</span></label>
                      </p>
                      <p>
                        <input id="c104" name="cb" type="checkbox">
                        <label for="c104">Legal Jobs <span>(457)</span></label>
                      </p>
                      <p>
                        <input id="c105" name="cb" type="checkbox">
                        <label for="c105">IT Jobs <span>(1254)</span></label>
                      </p>
                      <p>
                        <input id="c106" name="cb" type="checkbox">
                        <label for="c106">R&amp;D Jobs <span>(554)</span></label>
                      </p>
                      <p>
                        <input id="c107" name="cb" type="checkbox">
                        <label for="c107">Government Jobs <span>(350)</span></label>
                      </p>
                      <p>
                        <input id="c108" name="cb" type="checkbox">
                        <label for="c108">PSU Jobs <span>(221)</span></label>
                      </p>
                    </div>
                  </div>
                  <ul>
                    <li><i class="fa fa-plus-circle"></i> <a href="#">SHOW MORE</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="jp_rightside_job_categories_wrapper jp_job_location_wrapper">
              <div class="jp_rightside_job_categories_heading">
                <h4>Salary</h4>
              </div>
              <div class="jp_rightside_job_categories_content">
                <div class="handyman_sec1_wrapper">
                  <div class="content">
                    <div class="box">
                      <p>
                        <input id="c125" name="cb" type="checkbox">
                        <label for="c125">$1k - 2k <span>(214)</span></label>

                      </p>
                      <p>
                        <input id="c126" name="cb" type="checkbox">
                        <label for="c126">$3k - 5k <span>(514)</span></label>
                      </p>
                      <p>
                        <input id="c127" name="cb" type="checkbox">
                        <label for="c127">$5k - 8k <span>(554)</span></label>
                      </p>
                      <p>
                        <input id="c128" name="cb" type="checkbox">
                        <label for="c128">$5k - 10k <span>(457)</span></label>
                      </p>
                      <p>
                        <input id="c129" name="cb" type="checkbox">
                        <label for="c129">$10k - 20k <span>(1254)</span></label>
                      </p>
                      <p>
                        <input id="c130" name="cb" type="checkbox">
                        <label for="c130">$20k - 30k <span>(554)</span></label>
                      </p>
                      <p>
                        <input id="c131" name="cb" type="checkbox">
                        <label for="c131">$30k - 50k <span>(350)</span></label>
                      </p>
                      <p>
                        <input id="c132" name="cb" type="checkbox">
                        <label for="c132">$50k - 80k <span>(221)</span></label>
                      </p>
                    </div>
                  </div>
                  <ul>
                    <li><i class="fa fa-plus-circle"></i> <a href="#">SHOW MORE</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="jp_rightside_job_categories_wrapper jp_job_location_wrapper">
              <div class="jp_rightside_job_categories_heading">
                <h4>Types</h4>
              </div>
              <div class="jp_rightside_job_categories_content">
                <div class="handyman_sec1_wrapper">
                  <div class="content">
                    <div class="box">
                      <p>
                        <input id="c133" name="cb" type="checkbox">
                        <label for="c133">Types <span>(214)</span></label>

                      </p>
                      <p>
                        <input id="c134" name="cb" type="checkbox">
                        <label for="c134">Part-time <span>(514)</span></label>
                      </p>
                      <p>
                        <input id="c135" name="cb" type="checkbox">
                        <label for="c135">Contract <span>(554)</span></label>
                      </p>
                      <p>
                        <input id="c136" name="cb" type="checkbox">
                        <label for="c136">Remotely <span>(457)</span></label>
                      </p>
                      <p>
                        <input id="c137" name="cb" type="checkbox">
                        <label for="c137">Temporary <span>(1254)</span></label>
                      </p>
                    </div>
                  </div>
                  <ul>
                    <li><i class="fa fa-plus-circle"></i> <a href="#">SHOW MORE</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
