.jp_adp_form_wrapper .is-invalid {
  border: #dc3545 1px solid;
}

.has-error .control-label {
  margin-top: 0.25em;
  color: #dc3545
}

.button {
  margin: 1rem 1rem;
  float: left;
  width: 170px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;

  &.submit-button {
    border: 1px solid #f36969;
    background: #f36969;
  }

  &.cancel-button {
    border: 1px solid #aeaeae;
    background: #aeaeae;
  }
}


.update-user{
  box-shadow: 0px 1px 11px -5px rgb(128 128 128 / 64%) !important;
  padding: 28px!important;
  background-color: #ffffffd6!important;
  border: 1px solid #e6e6e6!important;
}
.f-right{
  float:right;
}


.button:hover{
  color: white!important;


}
