
.jp_navi_right_btn_wrapper ul {
  .company-button {
    width: 100%;
    padding: 0 12px;
  }

}

.jp_cp_left_pro_wallpaper .round-picture {
  border-radius: 50%;
  width: 40%;
}

.button {
  margin: 1rem 1rem;
  float: left;
  width: 170px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.5s;

  &.edit-button {
    border: 1px solid #f36969;
    background: #f36969;
  }

  &.company-button {
    border: 1px solid #aeaeae;
    background: #aeaeae;
    width: 49%;
  }

  &:hover {
    border: 1px solid #e26e6e;
    color: white !important;
  }
}

.jp_cp_right_side_inner_wrapper .multiple-buttons {
  float: right;
  width: 62%;
}

