
.jp_navi_right_btn_wrapper ul .company-button {
  width: 100%;
  padding: 0 12px;
}

.round-picture {
  border-radius: 50%;
  width: 40%;
}


.button {
  margin: 1rem 1rem;
  float: left;
  width: 170px;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.5s;

  &.edit-button {
    border: 1px solid #f36969;
    background: #f36969;
  }

  &.company-button {
    border: 1px solid #aeaeae;
    background: #aeaeae;
    width: 49%;
  }

  &:hover {
    border: 1px solid #e26e6e;
    color: white !important;
  }
}

.jp_cp_right_side_inner_wrapper .multiple-buttons {
  float: right;
  width: 62%;
}

/* ----- profile pic ------ */
@keyframes spin {
  0% {
    transform: rotate(0deg) translate(-50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%);
  }
}

.loader {
  position: absolute;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  animation: spin 0.35s infinite linear;
  border: 2px solid #707070;
  border-radius: 50%;
  border-top-color: white;
  height: 25px;
  transform-origin: left;
  top: 45%;
  width: 25px;
}

.hidden-input {
  left: -999px;
  position: absolute;
}

.image-wrapper {
  background: rgba(0, 0, 0, 0.2);
  bottom: -50px;
  height: 50px;
  left: 0;
  position: absolute;
  transition: bottom 0.15s linear;
  width: 100%;
}

.edit {
  position: relative;
  left: 3%;
  transform: translateX(-50%);
  color: white;
  cursor: pointer;
  font-size: 22px;
  top: 10px;
}

.edit-cover {
  left: 50% !important;
  top: 5px !important;
}

.jp_cp_left_pro_wallpaper {
  .company-picture {
    top: 16rem
  }

  .profile-pic {
    position: relative;
    border-radius: 50%;
    border: 4px solid #23c0e9;
    height: 210px;
    overflow: hidden;
    width: 210px;
    margin: auto;

    img {
      box-sizing: border-box;
      height: 100%;
      left: 50%;
      max-height: 100%;
      position: absolute;
      transform: translateX(-50%);
      transition: all 0.15s ease-out;
      width: auto;
    }


    &:hover .image-wrapper {
      bottom: 0;
    }
  }
}


